@charset "UTF-8";

/* Fonts */
@font-face {
  font-family: 'Geologica';
  src: url(src/fonts/Geologica-ExtraLight.ttf) format('opentype');
}

/* root */
:root{
  --background: #0C0C0C;
  --text: #D3D3D3;

  --font-padrao: 'Geologica', sans-serif;
}

/*------------------------------------------------------------ Principal ---------------------------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text);
}

html, body {
  scroll-behavior: smooth;
  font-size: .938rem;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}
/*------------------------------------------------------------ Header ---------------------------------------------------------------*/

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(12px);
  background-color: rgba(7, 7, 7, 0.24);
  z-index: 1;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-family: var(--font-padrao);
  margin-left: 20px;
}

.nav__close, 
.nav__toggle {
  display: flex;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsividade para mobile */
@media screen and (max-width: 750px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav {
    height: 60px;
  }

  main{
    margin-top: 60px;
  }

  .nav__item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}

.nav__list, 
.nav__social {
  display: flex;
}

.nav__list {
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

.nav__link span {
  position: relative;
  color: var(--text);
  transition: margin .4s;
}

.nav__link span:hover {
  color: #737373;
}


.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__social {
  column-gap: 1rem;
}

.discord-logo{
  width: 20px;
  height: 15px;
  filter: brightness(0) invert(0.7);
  margin-right: 20px;
}

.exit-logo{
  margin-top: 10px;
  width: 28px;
  height: 28px;
}

.menu-logo{
  width: 22px;
  height: 22px;
}

.nav__social-link {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  transition: transform .4s;
}

.nav__social-link:hover {
  transform: translateY(-.25rem);
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*--------------------------------------------------------------- Main -----------------------------------------------------------------------*/

main{
  padding: 0px 20px;
}

/*------------------------------------------------------------ BREAKPOINTS --------------------------------------------------------------------*/

/* For large devices */
@media screen and (min-width: 750px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: 60px;
  }

  main{
    margin-top: 60px;
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: 1rem;
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}

